nav
  position: fixed
  display: flex
  flex-direction: column
  background: black 
  width: 100%
  left: 0
  bottom: 60px
  max-height: 80vh
  a
    display: flex
    height: 44px
    display: flex
    align-items: center
    padding: 8px
    font-size: 1.3em

.Menu-hide
  left: 800px
