// HEADER CSS
  
$blue: #54ddff
  
header
  background: black
  padding: 8px
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  top: 0
  width: 100vw
  height: 64px
  h1
    font-family: 'Dancing Script', cursive;
    color: $blue
  .active
    color: $blue
  button
    padding: 8px
    display: flex
    align-items: center
    height: 44px
    border: none
    background: none
    font-size: 1em
    span
      font-size: .8em
      margin-left: 4px
  button
    color: white